body {
    background: var(--website-background);
    font-family: Rubik, sans-serif;
    color: var(--fg-main-color);
    font-size: 20px;
    /*font-size: 2vmin;*/
    margin:0;
}

a {
    color: var(--fg-main-link-color);
}
a:hover {
    color: var(--fg-main-link-color-hover);
}

:root /*slightly wrong legacy support*/{
    --bg-main-color: black;
    --bg-section-color: #00ffff;
}

:root /*real non-legacy*/ {
    /* fg.or.bg-element-description. dashes kinda work like folders / nested */
    --website-background: #003300 url(/files/wtilegif.gif);
    /*--website-margin: 5vmin;*/
    --website-margin: 10px;

    /*main / container: main content-wrapping div. parent of overlay.*/
    --bg-container-background: #00000090; /*temp*/
    --bg-container-border: 4px solid black;
    --fg-main-color: white;
    --fg-main-link-color: cyan;
    --fg-main-link-color-hover: red;

    /*section: a div on top of the content-wrapping div, making it a children of main*/
    --fg-section-color: var(--fg-main-color);
    --bg-section-background: #00ffff33; /*temp*/
    --bg-section-border-color: #003300; /*temp*/
}

/*.containercontainerlmao {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}*/

.container {
    display: block;
    background: var(--bg-container-background);
    border: var(--bg-container-border);
    /*height: calc(100vmin - var(--website-margin) - var(--website-margin) - 1vmin);
    width: calc(100vmin - var(--website-margin) - var(--website-margin) - 1vmin);*/
    margin: var(--website-margin);
    max-width: 880px;
    min-width: 550px;

}
.flexcontainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.gridcontainer {
    display: grid;
    gap: 0.1em;
}

.toptitle {
    display: block;
    text-align: center;
    font-size: 8em;
    font-weight: bold;
}

.section {
    /*padding: 2vmin;*/
    font-size: 1em;
    background: var(--bg-section-background);
    /*margin: 2vmin;*/
    width: 18em;
    height: 13em;
}
.section p {
    /*padding: 0.2vmin;
    margin: 1vmin;
    margin-top: 2vmin;*/
}

.title {
    font-size: 3.5em;
    /*margin: 0.2vmin;
    padding: 0.2vmin;*/
    text-align: center;;
}

#pfpsection img {
    display:block;
    margin: auto;
    width: auto;
    width: 100%;
    /*height: 100%;*/
}

#pfpsection, #linkssection {
    min-width: 250px;
    max-width: 250px;
}
#chatsection, #descriptionsection {
    min-width: 450px;
    max-width: 450px;
}
#pfpsection {
    padding: 0;
    /*margin-left: 1em;*/
    /*width: calc(30% + 4vmin);
    height: calc(13em + 4vmin);*/
}