@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
*{font-family: Rubik;}

body {
    background: var(--website-background);
    font-family: Rubik, Roboto, sans-serif;
    color: var(--fg-main-color);
    font-size: 15px; /* This is the container's scale. Yes, I made it so a single value could control how big the stuff is. Pretty epic, right? */
    /*font-size: 2vmin;*/
    margin:0;
}

a {
    color: var(--fg-main-link-color);
}
a:hover {
    color: var(--fg-main-link-color-hover);
}

:root /*slightly wrong legacy support (I just realised this does literally nothing for now because vars are vars)*/{
    --bg-main-color: pink;
    --bg-section-color: cyan;
}

:root /*real non-legacy*/ {
    /* fg.or.bg-element-description. dashes kinda work like folders / nested */
    --website-background: #003300 url(/files/wtilegif_white_pinkbg.gif);
    --website-margin: 1em;

    /*main / container: main content-wrapping div. parent of overlay.*/
    /*--bg-container-background: #ffaacc;*/
    --bg-container-background: repeating-linear-gradient(0deg,
        #ffaacc,
        #ffaacc 0.2em,
        #ffbbdd 0.2em,
        #ffbbdd 0.4em);
    --bg-container-border: 0.3em solid #ff8888;
    --bg-container-border-radius: 3em;

    --fg-main-color: white;
    --fg-main-link-color: cyan;
    --fg-main-link-color-hover: red;

    /*section: a div on top of the content-wrapping div, making it a children of main*/
    --fg-section-color: var(--fg-main-color);
    --bg-section-background: #9900ff66; /*temp*/
    --bg-section-border-color: #003300; /*temp*/
    --bg-section-border: 0.2em solid #9900ff99;
    --bg-section-border-radius: 2em;
}

.containercontainerlmao {
    position: absolute;
    /*top: 50%;*/
    left: 50%;
    transform: translate(-50%, /*-50%*/0%);
}

@keyframes bg {
    0% {
        background-position: 0 0;
    }

    100% {
        background-position: 0 100%;
    }
}

.container {
    display: block;
    background: var(--bg-container-background);
    border: var(--bg-container-border);
    border-radius: var(--bg-container-border-radius);
    margin: var(--website-margin);
    animation: bg 2s linear infinite;
}
.flexcontainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.gridcontainer {
    display: grid;
    gap: 0.1em;
}

.toptitle {
    color: transparent;
    background: linear-gradient(90deg,
        rgba(255, 0, 0, 1) 0%,
        rgba(255, 154, 0, 1) 10%,
        rgba(208, 222, 33, 1) 20%,
        rgba(79, 220, 74, 1) 30%,
        rgba(63, 218, 216, 1) 40%,
        rgba(47, 201, 226, 1) 50%,
        rgba(28, 127, 238, 1) 60%,
        rgba(95, 21, 242, 1) 70%,
        rgba(186, 12, 248, 1) 80%,
        rgba(251, 7, 217, 1) 90%,
        rgba(255, 0, 0, 1) 100%);
    margin: auto;
    display: block;
    text-align: center;
    font-size: 8em;
    font-weight: bold;
    margin-bottom: -0.1em;
    -webkit-background-clip: text;
    background-clip: text;
    width: fit-content;
    margin-top: 0;
}

.section {
    padding: 1em;
    font-size: 1em;
    background: var(--bg-section-background);
    margin: 1em;
    width: 18em;
    height: 15em;
    border: var(--bg-section-border);
    border-radius: var(--bg-section-border-radius);
}
.section p {
    padding: 0.1em;
    margin: 0.5em;
    margin-top: 0.5em;
    font-size: 1.2em;
}

.title {
    font-size: 3.5em;
    margin: 0.1em;
    padding: 0.1em;
    text-align: center;
}

#pfpsection img {
    display:block;
    margin: auto;
    width: auto;
    height: 100%;
}

#pfpsection, #linkssection {
    width: 15em;
}
#chatsection, #descriptionsection {
    width: 25em;
}
#chatsection .title {
    color: #fff3
}
#chatsection iframe {
    height: fit-content;
    padding-top: -1em;
    padding-bottom: 0.1em;
}
#chatsection p {
    margin-top: -5em;
    height: 13.5em;
    width: 105%;
    margin-left: -2.5%;
}



@media only screen and (max-width: 780px) {

body{
    font-size: 13px;
}

.toptitle {
    font-size: 4.5em;
    margin-top: 0.1em;
    margin-bottom: 0.0em;
}

.container {
    display: block;
    background: var(--bg-container-background);
    border: var(--bg-container-border);
    border-radius: var(--bg-container-border-radius);
    border-radius: calc(var(--bg-container-border-radius) - 1em);
    margin: var(--website-margin);
    animation: bg 2s linear infinite;
}

#linkssection {
    width: 25em;
}
#chatsection {
    height: 25em;
}
#chatsection .title {
    color: #fff8;
}
#chatsection p {
    margin-top: -5em;
    height: 20em;
    width: 110%;
    margin-left: -5%;
}
#chatsection iframe {
    height: fit-content;
    padding-top: 0em;
    padding-bottom: 0.1em;
    height: 22em !important;
}

}