body {
    background: var(--website-background);
    font-family: Rubik, sans-serif;
    color: var(--fg-main-color);
    font-size: 16px;
    font-size: 2vmin;
    margin:0;
}

:root /*slightly wrong legacy support*/{
    --bg-main-color: black;
    --bg-overlay-color: #00ffff;
}

:root /*real non-legacy*/ {
    /* fg.or.bg-element-description. dashes kinda work like folders / nested */
    --website-background: #003300 url(/files/wtilegif.gif);
    --website-margin: 5vmin;

    /*main / container: main content-wrapping div. parent of overlay.*/
    --bg-container-background: #00000090; /*temp*/
    --bg-container-border: 0.5vmin solid black;
    --fg-main-color: white;
    --fg-main-link-color: cyan;

    /*section: a div on top of the content-wrapping div, making it a children of main*/
    --fg-section-color: var(--fg-main-color);
    --bg-section-color: #00ffff33; /*temp*/
    --bg-section-border-color: #003300; /*temp*/
}

.containercontainerlmao {
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.container {
    display: block;
    background: var(--bg-container-background);
    border: var(--bg-container-border);
    height: calc(100vmin - var(--website-margin) - var(--website-margin));
    width: calc(100vmin - var(--website-margin) - var(--website-margin));
    margin: var(--website-margin);
}
.flexcontainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.toptitle {
    display: block;
    text-align: center;
    font-size: 8em;
    font-weight: bold;
}

.section {
 padding: 1em;
 font-size: 1em;
}

.title {
    font-size: 3em;
    margin: 0.1em;
    padding: 0.1em;
}