:root

/*real non-legacy*/
    {
    /* fg.or.bg-element-description. dashes kinda work like folders / nested */
    --website-background: #003300 url(/files/wtilegif_white_pinkbg.gif);
    --website-margin: 1em;

    /*main / container: main content-wrapping div. parent of overlay.*/
    /*--bg-container-background: #ffaacc;*/
    --bg-container-background: repeating-linear-gradient(0deg,
            #ff2222,
            #ff3300.2em,
            #ff2233 0.2em,
            #ff3300 0.4em);
    --bg-container-border: 1.5em solid #770000;
    --bg-container-border-radius: 3em;

    --fg-main-color: white;
    --fg-main-link-color: cyan;
    --fg-main-link-color-hover: red;

    /*section: a div on top of the content-wrapping div, making it a children of main*/
    --fg-section-color: var(--fg-main-color);
    --bg-section-background: #9900ff66;
    /*temp*/
    --bg-section-border-color: #003300;
    /*temp*/
    --bg-section-border: 0.2em solid #9900ff99;
    --bg-section-border-radius: 2em;
}

.toptitle {
    color: white;
    margin-top: -0.1em;
}
.container {
    padding: 1em;
    height: 33em;
    width: 40em;
}
@media only screen and (max-width: 780px) {
    .toptitle {
        font-size: 5.5em;
    }
    body {
        font-size: 12px;
    }
    a {
        font-size: 0.7em;
    }
    .container {
        height: 27em;
        width: 38em;
        border-radius: 4em;
        padding: 2em;
    }
}
@media only screen and (max-width: 480px) {
    .container {
        height: 28.5em;
        width: 26em;
        border-radius: 4em;
        padding: 2em;
    }
}
p {
    text-align: center;
    font-size: 1.5em;
}

a {
    background: #550000;
    padding: 0.5em;
    border: #880000 0.5em solid;
    border-radius: 0.5em;
}

.scratchcontainer {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: 2em;
    text-align: center;
    padding: auto;
}

.scratchcontainer img {
    height: 2.2em;
}